<!DOCTYPE html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <%include ./layouts/tests-head%>
</head>
<body>
<header>
    <img width="600" height="400" src="/img/1.jpg">
</header>
<h1>Welcome to Meadowlark Travel</h1>
<p>the random string is : <%= str %></p>

<%include ./layouts/tests%>

</body>
</html>
